flask
flask-sqlalchemy
flask-restx
flask-cors
gunicorn
# `pip install psycopg2` fails because it requires OpenSSL, so I used `psycopg2-binary` instead
psycopg2-binary
python-jose
# the version of werkzeug is temporarily fixed to 0.16.1 because falsk-restx hasn't supported the latest version yet
# https://github.com/python-restx/flask-restx/issues/37
werkzeug<=0.16.1
